* {
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
}
#search {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 300px;
  align-self: center;
}
#results-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#results-list {
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  gap: 4px;
  justify-content: center;
  article {
    list-style: none;
    flex: 0 0 25%;
    flex-direction: column;
    padding: 2%;
    height: auto;
    display: flex;
    min-width: 175px;
  }
  img {
    height: 200px;
    width: auto;
    object-fit: contain;
    padding: 15px;
    transition: 0.3s linear;
  }
  img:hover {
    scale: 1.24;
  }
  h3 {
    padding: 15px;
    text-align: center;
    font-family: consolas;
    background-color: antiquewhite;
  }
}
#results-pages {
  display: flex;
  position: relative;
  gap: 10px;
  font-size: 25px;
  font-family: consolas;
  .page-select {
    cursor: pointer;
  }
  .page-select:hover {
  }
}

.description {
  font-size: 14px;
  font-family: consolas;
  padding: 15px;
  background-color: rgb(0, 0, 0);
  margin: 10px;
  color: white;
  b {
    color: rgb(255, 113, 73);
    font-size: 20px;
  }
}

.more-info {
  word-wrap: break-word;
  padding: 0 15px;
  display: none;
}

form {
  background-color: rgb(201, 178, 178);
  padding: 35px;
  border: 5px solid rgb(142, 89, 89);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top: none;
}

#submit {
  width: 75%;
  padding: 5px 15px;
  align-self: center;
  border: 4px solid rgb(135, 54, 54);
  background-color: rgb(52, 19, 19);
  color: rgb(220, 171, 153);
  margin-top: 25px;
  font-size: 20px;
  font-family: verdana;
  cursor: pointer;
}
#submit:hover {
  background-color: black;
}
