* {
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
}

#results-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#results-list {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  gap: 15px;
  padding: 25px;
  justify-content: center;
  article {
    list-style: none;
    flex: 0 0 25%;
    flex-direction: column;
    padding: 2%;
    height: 200px;
    background-color: antiquewhite;
    display: flex;
  }
  img {
    height: 85%;
    width: auto;
    object-fit: contain;
  }
  h3 {
    text-align: center;
    font-family:consolas;
  }
}
#results-pages {
  display: flex;
  position: relative;
  gap: 10px;
  font-size: 25px;
  font-family: consolas;
  .page-select {
    cursor: pointer;
  }
  .page-select:hover {
  }
}
